__pycache__
.history
.hypothesis/
build/
reports/

.env.production
.env.development
settings.py
migrations
django_settings.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
venv
