[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
celery = "bash scripts/celery.sh"
crawl = "bash scripts/crawl.sh"
scrapyd = "bash scripts/scrapyd.sh"
format = "pipenv run black ."
dev = "python src/manage.py runserver"
migrate = "python src/manage.py migrate"
make-migrations = "python src/manage.py makemigrations survivor"

[packages]
eth-brownie = ">=1.10.0,<2.0.0"
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-cors-headers = "*"
black = "*"
pylint = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
scrapy = "*"
scrapyd = "*"
scrapy-djangoitem = "*"
python-scrapyd-api = "*"
gunicorn = "*"
celery = {extras = ["redis"], version = "*"}
sqlalchemy = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
