container_commands:
  01_migrate:
    command: "python src/manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python src/manage.py collectstatic --noinput"
  03_createsu:
    command: "python src/manage.py createsu"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "src.server.settings"
    "PYTHONPATH": "/opt/python/current/app/src:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "src/server/wsgi.py"
    StaticFiles: "/static/=django_test/static/"
